---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?bls85w');
    src:    url('../fonts/icomoon.eot?bls85w#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?bls85w') format('truetype'),
        url('../fonts/icomoon.woff?bls85w') format('woff'),
        url('../fonts/icomoon.svg?bls85w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}





.sidebar img {
  position: relative;
  left: 25%;
  width: 50%;
  text-align: center;
}
@media (min-width: 48rem) {
  .sidebar img {
    position: static;
    padding: 0rem 0rem;
    left: 1rem;
    width: 14rem;
    text-align: left;
  }
}
@media (min-width: 48rem) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}
.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48rem) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64rem) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


@mixin admon-color($color) {
  color: darken($color, 15%);
  background-color: lighten($color, 25%);
  border-color: $color;
}


.admonition {
  padding: 0 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;
  &-title {
    font-weight: bold;
    text-align: left;
  }
  &.note,
  &.info,
  &.tips {
    $base-blue: #3498db;
    @include admon-color($base-blue);
  }
  &.warning,
  &.warn,
  &.important {
    $base-carrot: #e67e22;
    @include admon-color($base-carrot);
  }
  &.danger,
  &.critical {
    $base-alizarin: #e74c3c;
    @include admon-color($base-alizarin);
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  margin-bottom: 15px;

  td, th {
    border: 1px solid black;
    padding: 15px;
  }

  .table-bordered {
    border-collapse: collapse;
  }
}
